@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    background-color: #fafbfd;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

    html {
        font-size: 1.5vw;
    }
}

.container {
    margin-top: 1em;
}

.main-container {
    padding: 1.1em;
    margin-left: 3em;
    margin-right: 3em;
}
.background{
    background-image: url(/images/background.png);
    background-size: cover;
    height: 800px;
}
section {
    padding: 2em;
}

/*header section*/
.header {
    padding: 2em;
    display: flex;
    justify-content: space-between;

    .logo {
        font-size: 2rem;
        color: rgb(101, 84, 223);
        font-weight: bold;
        text-decoration: none;
        i {
            width: 1.5em;
        }
    }
    .navbar {
        margin-top: 0.3em;

        a {
            color: #7d838d;
            font-weight: bold;
            font-size: 1.4rem;
            margin-left: 8px;
            text-decoration: none;
            border-radius: 0.4em;
            padding: 13px;

            &:hover {
                background-color: #6c63fe;
                color: #fff;
            }
        }
    }
    .menu-btn {
        font-size: 2.5rem;
        border-radius: 0.5rem;
        background-color: #fafbfd;
        color: black;
        padding: 1rem 1.5rem;
        cursor: pointer;
        display: none;
    }
}
/*hero section*/
.hero {
    .hero-content {
        max-width: 50%;
        float: left;
        h2 {
            font-weight: bold;
            font-size: 3em;
        }
        p {
            color: #cccbcd;
            padding: 0 2em 0 0;
            font-size: 1em;
        }

        .btn {
            display: block;
            margin-top: 2.4em;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            background-color: rgb(101, 84, 223);
            padding: 15px 6px;
            border-radius: 3px;
            width: 10vw;
            text-align: center;
            font-size: 0.8em;
            box-shadow: 0 4px 4px 0 rgba(65, 68, 233, 0.274);
        }
    }
    img {
        display: inline;
        max-width: 49%;
        height: auto;
        display: none;
    }
}
/*testimonial section*/
.testimonial {
    .testimonial-text {
        text-align: center;

        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1em;
            color: #cccbcd;
        }
    }
    .container-cta {
        margin-top: 1em;
        text-align: center;

        h3 {
            font-size: 1.5em;
        }
        p {
            font-size: 0.7em;
            color: #cccbcd;
        }
        .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .col {
            background-color: #ffffff;
            display: inline-block;
            padding: 10px;
            margin: 20px;
            max-width: 20%;
            box-sizing: border-box;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
            border-radius: 0.2em;
        }
        img {
            padding: 0.4em 0 0 0;
            height: 7em;
        }
    }
}

/*about us section*/
.about-us {
    text-align: center;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
        color: #cccbcd;
    }

    .about-content {
        float: right;

        max-width: 50%;
        margin-top: 10em;

        p {
            font-size: 1.2em;
            line-height: 1.5em;
            font-weight: bold;
            text-align: justify;
            color: #7d838d;
        }
    }
    img {
        max-width: 50%;
        margin-top: 5em;
    }
}
/*our doctor*/
.ourdoctor {
    .ourdoctor-text {
        text-align: center;

        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1em;
            color: #cccbcd;
        }
    }
    .ourdoctor-cta {
        text-align: center;
        h3 {
            margin-top: 0.2em;
            font-size: 2em;
        }
        p {
            margin-top: -2em;
            font-size: 0.7em;
            color: #cccbcd;
        }
        .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .col {
            background-color: #ffffff;
            display: inline-block;
            padding: 15px;
            margin: 20px;
            max-width: 23%;
            box-sizing: border-box;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
            border-radius: 0.2em;
        }
        img {
            height: 4.5em;
            border-radius: 50%;
            border: 3px solid rgb(101, 84, 223);
        }
        .arrow {
            border: 3px solid #ffffff;
            height: 2em;
        }
    }
}
/*feedback*/
.feedback {
    .feedback-text {
        text-align: center;

        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.1em;
            color: #cccbcd;
        }
    }

    .grid-container {
        background-color: #f2f2fc;
        display: grid;
        grid-template-columns: 200px 250px;
        grid-auto-rows: minmax(150px, auto);
        grid-template-areas: "sidebar content" "header header" "sidebar content";

        .grid-item-1 {
            img {
                max-width: 50%;
                margin-left: 8em;
                margin-top: 5em;
                box-shadow: 10px 10px rgb(101, 84, 223);
                border-radius: 0.1em;
            }
        }
        .center {
            p {
                font-size: 1em;
                color: #7d838d;
            }
            h3 {
                font-weight: bold;
            }
            h2 {
                font-weight: bold;
                color: rgb(51, 161, 224);
            }
        }
    }
}
@media screen and (max-width: 1280px) {
    html {
        font-size: 1.5vw;
    }

    .header {
        padding: 2rem;
        .navbar {
            margin-top: 0.6em;
            a {
                font-size: 1rem;
                margin-left: 2px;
            }
        }
    }

    .section {
        padding: 2rem;
    }
    .hero {
        .container {
            .hero-content {
                h2 {
                    font-size: 2.5em;
                }
                p {
                    font-size: 1.3em;
                }
                .btn {
                    font-size: 1em;
                    margin-top: 1.5em;
                    width: 10em;
                }
            }
            img {
                margin-top: 3em;
            }
        }
    }
    .testimonial {
        .testimonial-text {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.2em;
            }
        }
        .container-cta {
            .col {
                max-width: 26%;
            }
        }
    }
    .about-us {
        .about-content {
            margin-top: 8em;
            p {
                font-size: 0.8em;
                line-height: 1.8em;
            }
        }
    }
    .ourdoctor {
        .ourdoctor-text {
            h1 {
                font-size: 2.1em;
            }
            p {
                font-size: 1.3em;
            }
        }
        .ourdoctor-cta {
            .col {
                max-width: 26%;
            }
            .arrow {
                height: 4em;
            }
        }
    }
    .feedback {
        .feedback-text {
            h1 {
                font-size: 2.1em;
            }
            p {
                font-size: 1.3em;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    html {
        font-size: 1.5vw;
    }
    .header {
        .navbar {
            margin-top: 0.7em;
            a {
                font-size: 1rem;
                margin-left: 2px;
            }
        }
    }
    .hero {
        .container {
            .hero-content {
                h2 {
                    font-size: 2.5em;
                }
                p {
                    font-size: 1.1em;
                }
                .btn {
                    font-size: 1.2em;
                    margin-top: 1.4em;
                }
            }
            img {
                max-width: 50%;
                height: auto;
            }
        }
    }
    .testimonial {
        .testimonial-text {
            h1 {
                font-size: 1.5em;
            }
            p {
                font-size: 1em;
            }
        }
    }
    .about-us {
        .about-content {
            margin-top: 7em;

            p {
                font-size: 0.9em;
            }
        }
    }
    .ourdoctor {
        .ourdoctor-text {
            h1 {
                font-size: 1.5em;
            }
            p {
                font-size: 1em;
            }
        }
    }
    .feedback {
        .feedback-text {
            h1 {
                font-size: 1.5em;
            }
            p {
                font-size: 1em;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .main-container {
        padding: 1em;
        margin-left: 0em;
        margin-right: 0em;
    }
    .header .menu-btn {
        display: inline;
    }
    .hero img{
        display: inline;
    }

    .header {
        .logo {
            font-size: 3rem;
            padding-top: 7px;
        }
        .navbar {
            position: absolute;
            top: 12.5%;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transform-origin: top;
            transition: 0.6s;
            background-color: #fafbfd;

            a {
                font-size: 2rem;
                display: block;
                margin: 2.5rem;
                width: 100;
            }
        }

        .navbar.active {
            transform: scale(1);
            transform-origin: top right;
        }
    }
    .hero {
        .container {
            .hero-content {
                max-width: 100%;
                h2 {
                    font-size: 2.8em;
                }
                p {
                    font-size: 2em;
                    color: #8e8e90;
                }
                .btn {
                    margin-top: 1.5em;
                    font-size: 1.6em;
                    padding: 12px 3px;
                }
            }

            img {
                max-width: 100%;
            }
        }
    }
    .testimonial {
        .testimonial-text {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.3em;
            }
        }
        .container-cta {
            p {
                font-size: 1.1em;
            }

            .col {
                max-width: 24%;
            }
        }
    }
    .about-us {
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.2em;
        }
        .about-content {
            margin-top: 7em;

            p {
                font-size: 1em;
            }
        }
    }
    .ourdoctor {
        .ourdoctor-text {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.4em;
            }
        }
        .ourdoctor-cta {
            p {
                font-size: 1.1em;
            }

            .col {
                max-width: 24%;
            }
            .arrow {
                height: 2.9em;
            }
        }
    }
    .feedback {
        .feedback-text {
            h1 {
                font-size: 2em;
            }
            p {
                font-size: 1.4em;
            }
        }
    }
}

@media screen and (max-width: 481px) {
    html {
        font-size: 65%;
    }
    .background{
        
        height: 556px;
    }
    .header {
        .logo {
            font-size: 2.5rem;
            padding-top: 7px;
        }
        .navbar {
            a {
                font-size: 2.1rem;
            }
        }
    }
    .hero {
        .container {
            .hero-content {
                max-width: 100%;
                h2 {
                    font-size: 2.5em;
                }
                p {
                    font-size: 1.3em;
                }
                .btn {
                    font-size: 1.5em;
                    padding: 15px 13px;
                }
            }
            img {
                max-width: 100%;
            }
        }
    }
    .testimonial {
        .testimonial-text {
            h1 {
                font-size: 1.5em;
            }
            p {
                font-size: 1em;
            }
        }
        .container-cta {
            p {
                font-size: 1em;
            }

            .col {
                max-width: 100%;
            }
        }
    }
    .about-us {
        h1 {
            font-size: 2.2em;
        }
        p {
            font-size: 1.2em;
        }

        .about-content {
            float: inherit;
            max-width: 100%;
            margin-top: 2.3em;

            p {
                text-align: center;
                font-size: 0.8em;
                line-height: 1.9em;
            }
        }
        img {
            max-width: 100%;
            margin-top: 2em;
        }
    }
    .ourdoctor {
        .ourdoctor-text {
            h1 {
                font-size: 1.5em;
            }
            p {
                font-size: 1em;
            }
        }
        .ourdoctor-cta {
            p {
                font-size: 1em;
            }

            .col {
                max-width: 100%;
            }
            .arrow {
                height: 4em;
            }
        }
    }
    .feedback {
        .feedback-text {
            h1 {
                font-size: 1.5em;
            }
            p {
                font-size: 1em;
            }
        }
        .container {
            background-color: #f2f2fc;

            .left {
                img {
                    max-width: 100%;
                    margin-left: 6.9em;
                    margin-top: 1.9em;
                    box-shadow: 10px 10px rgb(101, 84, 223);
                    border-radius: 0.1em;
                }
            }

            .center {
                max-width: 100%;
                p {
                    font-size: 1em;
                    color: #7d838d;
                }
                h3 {
                    font-weight: bold;
                }
                h2 {
                    font-weight: bold;
                    color: rgb(51, 161, 224);
                }
            }
        }
    }
}
