@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: #fafbfd;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body html {
  font-size: 1.5vw;
}

.container {
  margin-top: 1em;
}

.main-container {
  padding: 1.1em;
  margin-left: 3em;
  margin-right: 3em;
}

.background {
  background-image: url(/images/background.png);
  background-size: cover;
  height: 800px;
}

section {
  padding: 2em;
}

/*header section*/
.header {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  font-size: 2rem;
  color: #6554df;
  font-weight: bold;
  text-decoration: none;
}

.header .logo i {
  width: 1.5em;
}

.header .navbar {
  margin-top: 0.3em;
}

.header .navbar a {
  color: #7d838d;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 8px;
  text-decoration: none;
  border-radius: 0.4em;
  padding: 13px;
}

.header .navbar a:hover {
  background-color: #6c63fe;
  color: #fff;
}

.header .menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background-color: #fafbfd;
  color: black;
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

/*hero section*/
.hero .hero-content {
  max-width: 50%;
  float: left;
}

.hero .hero-content h2 {
  font-weight: bold;
  font-size: 3em;
}

.hero .hero-content p {
  color: #cccbcd;
  padding: 0 2em 0 0;
  font-size: 1em;
}

.hero .hero-content .btn {
  display: block;
  margin-top: 2.4em;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #6554df;
  padding: 15px 6px;
  border-radius: 3px;
  width: 10vw;
  text-align: center;
  font-size: 0.8em;
  -webkit-box-shadow: 0 4px 4px 0 rgba(65, 68, 233, 0.274);
          box-shadow: 0 4px 4px 0 rgba(65, 68, 233, 0.274);
}

.hero img {
  display: inline;
  max-width: 49%;
  height: auto;
  display: none;
}

/*testimonial section*/
.testimonial .testimonial-text {
  text-align: center;
}

.testimonial .testimonial-text h1 {
  font-size: 2em;
}

.testimonial .testimonial-text p {
  font-size: 1em;
  color: #cccbcd;
}

.testimonial .container-cta {
  margin-top: 1em;
  text-align: center;
}

.testimonial .container-cta h3 {
  font-size: 1.5em;
}

.testimonial .container-cta p {
  font-size: 0.7em;
  color: #cccbcd;
}

.testimonial .container-cta .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonial .container-cta .col {
  background-color: #ffffff;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  max-width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
  border-radius: 0.2em;
}

.testimonial .container-cta img {
  padding: 0.4em 0 0 0;
  height: 7em;
}

/*about us section*/
.about-us {
  text-align: center;
}

.about-us h1 {
  font-size: 2em;
}

.about-us p {
  font-size: 1em;
  color: #cccbcd;
}

.about-us .about-content {
  float: right;
  max-width: 50%;
  margin-top: 10em;
}

.about-us .about-content p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  color: #7d838d;
}

.about-us img {
  max-width: 50%;
  margin-top: 5em;
}

/*our doctor*/
.ourdoctor .ourdoctor-text {
  text-align: center;
}

.ourdoctor .ourdoctor-text h1 {
  font-size: 2em;
}

.ourdoctor .ourdoctor-text p {
  font-size: 1em;
  color: #cccbcd;
}

.ourdoctor .ourdoctor-cta {
  text-align: center;
}

.ourdoctor .ourdoctor-cta h3 {
  margin-top: 0.2em;
  font-size: 2em;
}

.ourdoctor .ourdoctor-cta p {
  margin-top: -2em;
  font-size: 0.7em;
  color: #cccbcd;
}

.ourdoctor .ourdoctor-cta .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourdoctor .ourdoctor-cta .col {
  background-color: #ffffff;
  display: inline-block;
  padding: 15px;
  margin: 20px;
  max-width: 23%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
  border-radius: 0.2em;
}

.ourdoctor .ourdoctor-cta img {
  height: 4.5em;
  border-radius: 50%;
  border: 3px solid #6554df;
}

.ourdoctor .ourdoctor-cta .arrow {
  border: 3px solid #ffffff;
  height: 2em;
}

/*feedback*/
.feedback .feedback-text {
  text-align: center;
}

.feedback .feedback-text h1 {
  font-size: 2em;
}

.feedback .feedback-text p {
  font-size: 1.1em;
  color: #cccbcd;
}

.feedback .grid-container {
  background-color: #f2f2fc;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 250px;
      grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(150px, auto);
      grid-template-areas: "sidebar content" "header header" "sidebar content";
}

.feedback .grid-container .grid-item-1 img {
  max-width: 50%;
  margin-left: 8em;
  margin-top: 5em;
  -webkit-box-shadow: 10px 10px #6554df;
          box-shadow: 10px 10px #6554df;
  border-radius: 0.1em;
}

.feedback .grid-container .center p {
  font-size: 1em;
  color: #7d838d;
}

.feedback .grid-container .center h3 {
  font-weight: bold;
}

.feedback .grid-container .center h2 {
  font-weight: bold;
  color: #33a1e0;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 1.5vw;
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    margin-top: 0.6em;
  }
  .header .navbar a {
    font-size: 1rem;
    margin-left: 2px;
  }
  .section {
    padding: 2rem;
  }
  .hero .container .hero-content h2 {
    font-size: 2.5em;
  }
  .hero .container .hero-content p {
    font-size: 1.3em;
  }
  .hero .container .hero-content .btn {
    font-size: 1em;
    margin-top: 1.5em;
    width: 10em;
  }
  .hero .container img {
    margin-top: 3em;
  }
  .testimonial .testimonial-text h1 {
    font-size: 2em;
  }
  .testimonial .testimonial-text p {
    font-size: 1.2em;
  }
  .testimonial .container-cta .col {
    max-width: 26%;
  }
  .about-us .about-content {
    margin-top: 8em;
  }
  .about-us .about-content p {
    font-size: 0.8em;
    line-height: 1.8em;
  }
  .ourdoctor .ourdoctor-text h1 {
    font-size: 2.1em;
  }
  .ourdoctor .ourdoctor-text p {
    font-size: 1.3em;
  }
  .ourdoctor .ourdoctor-cta .col {
    max-width: 26%;
  }
  .ourdoctor .ourdoctor-cta .arrow {
    height: 4em;
  }
  .feedback .feedback-text h1 {
    font-size: 2.1em;
  }
  .feedback .feedback-text p {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1025px) {
  html {
    font-size: 1.5vw;
  }
  .header .navbar {
    margin-top: 0.7em;
  }
  .header .navbar a {
    font-size: 1rem;
    margin-left: 2px;
  }
  .hero .container .hero-content h2 {
    font-size: 2.5em;
  }
  .hero .container .hero-content p {
    font-size: 1.1em;
  }
  .hero .container .hero-content .btn {
    font-size: 1.2em;
    margin-top: 1.4em;
  }
  .hero .container img {
    max-width: 50%;
    height: auto;
  }
  .testimonial .testimonial-text h1 {
    font-size: 1.5em;
  }
  .testimonial .testimonial-text p {
    font-size: 1em;
  }
  .about-us .about-content {
    margin-top: 7em;
  }
  .about-us .about-content p {
    font-size: 0.9em;
  }
  .ourdoctor .ourdoctor-text h1 {
    font-size: 1.5em;
  }
  .ourdoctor .ourdoctor-text p {
    font-size: 1em;
  }
  .feedback .feedback-text h1 {
    font-size: 1.5em;
  }
  .feedback .feedback-text p {
    font-size: 1em;
  }
}

@media screen and (max-width: 769px) {
  .main-container {
    padding: 1em;
    margin-left: 0em;
    margin-right: 0em;
  }
  .header .menu-btn {
    display: inline;
  }
  .hero img {
    display: inline;
  }
  .header .logo {
    font-size: 3rem;
    padding-top: 7px;
  }
  .header .navbar {
    position: absolute;
    top: 12.5%;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-color: #fafbfd;
  }
  .header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
    width: 100;
  }
  .header .navbar.active {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  .hero .container .hero-content {
    max-width: 100%;
  }
  .hero .container .hero-content h2 {
    font-size: 2.8em;
  }
  .hero .container .hero-content p {
    font-size: 2em;
    color: #8e8e90;
  }
  .hero .container .hero-content .btn {
    margin-top: 1.5em;
    font-size: 1.6em;
    padding: 12px 3px;
  }
  .hero .container img {
    max-width: 100%;
  }
  .testimonial .testimonial-text h1 {
    font-size: 2em;
  }
  .testimonial .testimonial-text p {
    font-size: 1.3em;
  }
  .testimonial .container-cta p {
    font-size: 1.1em;
  }
  .testimonial .container-cta .col {
    max-width: 24%;
  }
  .about-us h1 {
    font-size: 2em;
  }
  .about-us p {
    font-size: 1.2em;
  }
  .about-us .about-content {
    margin-top: 7em;
  }
  .about-us .about-content p {
    font-size: 1em;
  }
  .ourdoctor .ourdoctor-text h1 {
    font-size: 2em;
  }
  .ourdoctor .ourdoctor-text p {
    font-size: 1.4em;
  }
  .ourdoctor .ourdoctor-cta p {
    font-size: 1.1em;
  }
  .ourdoctor .ourdoctor-cta .col {
    max-width: 24%;
  }
  .ourdoctor .ourdoctor-cta .arrow {
    height: 2.9em;
  }
  .feedback .feedback-text h1 {
    font-size: 2em;
  }
  .feedback .feedback-text p {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 481px) {
  html {
    font-size: 65%;
  }
  .background {
    height: 556px;
  }
  .header .logo {
    font-size: 2.5rem;
    padding-top: 7px;
  }
  .header .navbar a {
    font-size: 2.1rem;
  }
  .hero .container .hero-content {
    max-width: 100%;
  }
  .hero .container .hero-content h2 {
    font-size: 2.5em;
  }
  .hero .container .hero-content p {
    font-size: 1.3em;
  }
  .hero .container .hero-content .btn {
    font-size: 1.5em;
    padding: 15px 13px;
  }
  .hero .container img {
    max-width: 100%;
  }
  .testimonial .testimonial-text h1 {
    font-size: 1.5em;
  }
  .testimonial .testimonial-text p {
    font-size: 1em;
  }
  .testimonial .container-cta p {
    font-size: 1em;
  }
  .testimonial .container-cta .col {
    max-width: 100%;
  }
  .about-us h1 {
    font-size: 2.2em;
  }
  .about-us p {
    font-size: 1.2em;
  }
  .about-us .about-content {
    float: inherit;
    max-width: 100%;
    margin-top: 2.3em;
  }
  .about-us .about-content p {
    text-align: center;
    font-size: 0.8em;
    line-height: 1.9em;
  }
  .about-us img {
    max-width: 100%;
    margin-top: 2em;
  }
  .ourdoctor .ourdoctor-text h1 {
    font-size: 1.5em;
  }
  .ourdoctor .ourdoctor-text p {
    font-size: 1em;
  }
  .ourdoctor .ourdoctor-cta p {
    font-size: 1em;
  }
  .ourdoctor .ourdoctor-cta .col {
    max-width: 100%;
  }
  .ourdoctor .ourdoctor-cta .arrow {
    height: 4em;
  }
  .feedback .feedback-text h1 {
    font-size: 1.5em;
  }
  .feedback .feedback-text p {
    font-size: 1em;
  }
  .feedback .container {
    background-color: #f2f2fc;
  }
  .feedback .container .left img {
    max-width: 100%;
    margin-left: 6.9em;
    margin-top: 1.9em;
    -webkit-box-shadow: 10px 10px #6554df;
            box-shadow: 10px 10px #6554df;
    border-radius: 0.1em;
  }
  .feedback .container .center {
    max-width: 100%;
  }
  .feedback .container .center p {
    font-size: 1em;
    color: #7d838d;
  }
  .feedback .container .center h3 {
    font-weight: bold;
  }
  .feedback .container .center h2 {
    font-weight: bold;
    color: #33a1e0;
  }
}
/*# sourceMappingURL=main.css.map */